doctype html 
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="apple-touch-icon", sizes="180x180", href="favicon/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="favicon/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="favicon/favicon-16x16.png")
        link(rel="manifest", href="favicon/site.webmanifest")
        link(rel="mask-icon", href="favicon/safari-pinned-tab.svg", color="#5bbad5")
        meta(name="msapplication-TileColor", content="#da532c")
        meta(name="theme-color", content="#ffffff")
        link(rel="stylesheet", href="vendor/css/bootstrap.min.css")
        script(defer src="vendor/js/bootstrap.min.js") 
        title Hexlet | Тестовое задание 
    body 
        .container 
            header.navbar.navbar-light.navbar-expand-lg.border-bottom.align-items-center.py-lg-3.mb-4.justify-content-between
                a.navbar-brand.link-dark(href="https://ru.hexlet.io/" target="_blank") 
                    span.fs-4.lh-1 Хекслет
                ul.navbar-nav
                    each val in ['О нас', 'Отзывы', 'Цены', 'Начать обучение']
                        li 
                            a.nav-link.text-dark.px-lg-3(href="#")= val