doctype html 
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="apple-touch-icon", sizes="180x180", href="favicon/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="favicon/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="favicon/favicon-16x16.png")
        link(rel="manifest", href="favicon/site.webmanifest")
        link(rel="mask-icon", href="favicon/safari-pinned-tab.svg", color="#5bbad5")
        meta(name="msapplication-TileColor", content="#da532c")
        meta(name="theme-color", content="#ffffff")
        link(rel="stylesheet", href="vendor/css/bootstrap.min.css")
        script(defer src="vendor/js/bootstrap.min.js") 
        title Hexlet | Тестовое задание 
    body 
        .container 
            header.navbar.navbar-light.navbar-expand-lg.border-bottom.align-items-center.py-lg-3.mb-4.justify-content-between
                a.navbar-brand.link-dark(href="https://ru.hexlet.io/" target="_blank") 
                    span.fs-4.lh-1 Хекслет
                ul.navbar-nav
                    each val, key in {about: 'О нас', reviews: 'Отзывы', prices: 'Цены',start: 'Начать обучение'}
                        li 
                            a.nav-link.text-dark.px-lg-3(href="#" + key)= val

        .row.w-100
            .col-6
                img(src="images/toto.png", alt="Toto").w-100
            .col-6
                .row.p-5
                    .col
                        h1.fw-bolder Индивидуальное обучение программированию
                        p.fs-5 Освойте JavaScript, PHP, Python, Java и Rails с помощью наставника
                        form
                            .form-floating.mb-4
                                input(type="email", name="email", class="form-control", id="email" placeholder="Электронная почта")
                                label(for="email") Электронная почта
                            .form-floating.mb-4
                                input(type="tel", name="phone", class="form-control", id="phone" placeholder="Телефон")
                                label(for="phone") Телефон
                            .form-floating.mb-4
                                input(type="text", name="name", class="form-control", id="name" placeholder="Имя")
                                label(for="name") Имя
                            button(type="submit" class="btn btn-primary p-3 fw-bolder w-50 btn-lg") Отправить заявку
                            .fs-9.mt-3 Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c 
                                a(href="https://ru.hexlet.io/pages/privacy" class="text-decoration-none" target="_blank") политикой конфиденциальности

        .container#about
            .row.py-5.justify-content-end
                .col-10
                    .row 
                        .col.fs-5
                            .card.ps-3.float-end.w-50.border-0
                                .card-body 
                                    .border-top.border-dark.w-50
                                    p.pt-1.pb-2.fs-2 Персональное обучение с наставником в комфортном для вас темпе
                            p Хекслет — онлайн-школа программирования. Мы помогаем новичкам стать профессиональными разработчиками, а опытным специалистам получать новые знания и развиваться
                            p Помогаем студентам развивать вычислительное мышление. Учим видеть проблему, а не задание, анализировать и рассуждать на уровне проблемы и выше, а не только на уровне кода