doctype html 
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="apple-touch-icon", sizes="180x180", href="favicon/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="favicon/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="favicon/favicon-16x16.png")
        link(rel="manifest", href="favicon/site.webmanifest")
        link(rel="mask-icon", href="favicon/safari-pinned-tab.svg", color="#5bbad5")
        meta(name="msapplication-TileColor", content="#da532c")
        meta(name="theme-color", content="#ffffff")
        link(rel="stylesheet", href="vendor/css/bootstrap.min.css")
        script(defer src="vendor/js/bootstrap.min.js") 
        script(defer src="vendor/js/fontawesome/all.min.js") 
        title Hexlet | Тестовое задание 
    body 
        .container 
            header.navbar.navbar-light.navbar-expand-lg.border-bottom.align-items-center.py-lg-3.mb-4.justify-content-between
                .container-fluid
                    a.navbar-brand.link-dark(href="https://ru.hexlet.io/" target="_blank") 
                        span.fs-4.lh-1 Хекслет
                    button.navbar-toggler.collapsed(data-bs-toggle="collapse", data-bs-target="#navbar", aria-controls="navbar", aria-expanded="false", aria-label="Toggle navigation")
                        span.navbar-toggler-icon
                    .collapse.navbar-collapse.d-flex.justify-content-end#navbar
                        ul.navbar-nav.mb-2.mb-lg-0
                            each val, key in {about: 'О нас', reviews: 'Отзывы', prices: 'Цены', start: 'Начать обучение'}
                                li 
                                    a.nav-link.text-dark.px-lg-3(href="#" + key)= val
        .container-fluid.p-0
            .row.m-0
                .col-lg-6.col-sm-12.p-0
                    img(src="images/toto.png", alt="Toto").w-100
                .col-lg-6.d-flex.align-items-center
                    .container-fluid 
                        .row.justify-content-center
                            .col-lg-10.col-sm-12
                                h1.fw-bolder Индивидуальное обучение программированию
                                p.fs-5 Освойте JavaScript, PHP, Python, Java и Rails с помощью наставника
                                form
                                    .form-floating.mb-4
                                        input(type="email", name="email", class="form-control", id="email" placeholder="Электронная почта")
                                        label(for="email") Электронная почта
                                    .form-floating.mb-4
                                        input(type="tel", name="phone", class="form-control", id="phone" placeholder="Телефон")
                                        label(for="phone") Телефон
                                    .form-floating.mb-4
                                        input(type="text", name="name", class="form-control", id="name" placeholder="Имя")
                                        label(for="name") Имя
                                    .col-lg-6.col-sm-12
                                        button(type="submit" class="btn btn-primary form-control p-3 fw-bolder btn-lg") Отправить заявку
                                    .form-floating
                                        .fs-6.mt-3 Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c 
                                            a(href="https://ru.hexlet.io/pages/privacy" class="text-decoration-none" target="_blank") политикой конфиденциальности

        .container#about
            .row.py-5.justify-content-end
                .col-lg-10.col-sm-12
                    .col-lg-5.col-sm-12.float-end.ps-3
                        .border-top.border-dark.w-50
                        p.pt-1.pb-2.fs-3 Персональное обучение с наставником в комфортном для вас темпе
                    .col-lg-10.col-sm-12.float-none.fs-5
                        p Хекслет — онлайн-школа программирования. Мы помогаем новичкам стать профессиональными разработчиками, а опытным специалистам получать новые знания и развиваться
                        p Помогаем студентам развивать вычислительное мышление. Учим видеть проблему, а не задание, анализировать и рассуждать на уровне проблемы и выше, а не только на уровне кода

        .container-fluid.bg-light.pt-5.pb-3 
            .row
                .col 
                    .container 
                        .fs-1.text-center.fw-bolder.pt-3.pb-5 Доступные направления обучения
                        .row 
                            .col-lg-3.col-sm-12 
                                .card.border-0.bg-transparent 
                                    .card-body.text-center 
                                        i.fab.fa-js-square.fa-7x(style="color: #f1e05a")
                                    .card-title.text-center.fw-bolder.fs-3 JavaScript
                            .col-lg-3.col-sm-12 
                                .card.border-0.bg-transparent 
                                    .card-body.text-center 
                                        i.fab.fa-php.fa-7x(style="color: #4F5D95")
                                    .card-title.text-center.fw-bolder.fs-3 PHP
                            .col-lg-3.col-sm-12 
                                .card.border-0.bg-transparent 
                                    .card-body.text-center 
                                        i.fab.fa-node-js.fa-7x(style="color: #8CC84B")
                                    .card-title.text-center.fw-bolder.fs-3 Node.js
                            .col-lg-3.col-sm-12 
                                .card.border-0.bg-transparent 
                                    .card-body.text-center 
                                        i.fab.fa-python.fa-7x(style="color: #3572A5")
                                    .card-title.text-center.fw-bolder.fs-3 Python
                        .row 
                            .col-lg-4.col-sm-12 
                                .card.border-0.bg-transparent 
                                    .card-body.text-center 
                                        i.fab.fa-css3-alt.fa-7x(style="color: #e34c26")
                                    .card-title.text-center.fw-bolder.fs-3 Вёрстка
                            .col-lg-4.col-sm-12 
                                .card.border-0.bg-transparent 
                                    .card-body.text-center 
                                        i.fas.fa-gem.fa-7x(style="color: #701516")
                                    .card-title.text-center.fw-bolder.fs-3 Ruby on Rails
                            .col-lg-4.col-sm-12 
                                .card.border-0.bg-transparent 
                                    .card-body.text-center 
                                        i.fab.fa-java.fa-7x(style="color: #b07219")
                                    .card-title.text-center.fw-bolder.fs-3 Java 

        .comtainer-fluid 
            .row.me-0.ms-0.mt-5.pb-5.justify-content-end.overflow-hidden
                .col-sm-12.col-lg-4.d-flex.align-items-center
                    .col  
                        h3.fs-1.fw-bolder Наставник
                        p.fs-5 Наставник — опытный программист, который добился успехов в профессии, а теперь делится знаниями и опытом со студентами
                        p.fs-5 Он помогает планировать обучение, осваивать теорию и писать код. Если возникли проблемы, наставник подскажет, как их можно решить
                        p.fs-5 Наставник ведет студента по практическим проектам, задает правильные вопросы и помогает разобраться с реальными задачами. Он проверяет код проектов и оценивает ваш прогресс
                .col-sm-12.col-lg-6.pe-lg-0
                    img(src="images/mentoring.jpg", alt="mentoring" class="img-fluid")

        .container-fluid.pb-5
            .row.justify-content-center 
                .col-lg-4.col-sm-12 
                    .row.justify-content-center 
                        .col-1 
                            i.fas.fa-check-circle.fa-2x
                        .col-9 
                            p.fw-bolder.fs-5 Парное программирование с наставником
                            p.fs-6 Программируйте параллельно вместе с наставником, работая над единой задачей. Задавайте вопросы, обсуждайте решения, ищите альтернативные подходы, в режиме онлайн получайте обратную связь и рекомендации
                .col-lg-4.col-sm-12 
                    .row.justify-content-center 
                        .col-1 
                            i.fas.fa-check-circle.fa-2x
                        .col-9 
                            p.fw-bolder.fs-5 Помощь наставника
                            p.fs-6 Не просто передаёт опыт и знания, но формирует правильное отношение к обучению, помогает понять свои сильные и слабые стороны, отслеживает ваш прогресс, учит ставить цели, преодолевать тревоги и сомнения
            .row.justify-content-center 
                .col-lg-4.col-sm-12
                    .row.justify-content-center
                        .col-1 
                            i.fas.fa-check-circle.fa-2x
                        .col-9 
                            p.fw-bolder.fs-5 Ревью кода от наставника
                            p.fs-6 Получайте код ревью не только в рамках прохождения проектов, но и там, где это потребуется — на любом из этапов обучения. Общее время работы с наставником — 8 часов в месяц
                .col-lg-4.col-sm-12
                    .row.justify-content-center
                        .col-1 
                            i.fas.fa-check-circle.fa-2x
                        .col-9 
                            p.fw-bolder.fs-5 Индивидуальный подбор наставника
                            p.fs-6 Все наставники проходят отбор и обучение. Мы стараемся подбирать наставника индивидуально под студента, после предварительного интервью. Вы сможете поменять наставника, если не найдёте с ним общий язык

        .comtainer-fluid 
            .row.me-0.ms-0.mt-5.pb-5.justify-content-end.overflow-hidden
                .col-sm-12.col-lg-4.d-flex.align-items-center 
                    .col 
                        h3.fs-1.fw-bolder Теория
                        p.fs-5 Короткие уроки в текстовом формате помогают освоить сложную информацию, а не просто прослушать лекцию
                        p.fs-5 Интерактивный тест после каждого урока нужен, чтобы проверить себя и закрепить изученное
                .col-sm-12.col-lg-6.pe-lg-0
                    img(src="images/theory.webp", alt="theory" class="img-fluid")

        .container.mb-5 
            .row.d-flex.justify-content-center 
                .col-lg-10 
                    .card.border.border-5.border-warning 
                        .card-body.d-flex.flex-column.justify-content-center.fw-bolder.fs-5.p-5 
                            span.card-text.text-center У вас остается пожизненный доступ к теории пройденных уроков.
                            span.card-text.text-center Мы постоянно обновляем теорию, поэтому вы сможете вернуться и актуализировать свои знания

        .comtainer-fluid.pt-3
            .row.me-0.ms-0.mt-5.pb-5.justify-content-end.overflow-hidden
                .col-sm-12.col-lg-4.d-flex.align-items-center 
                    .col 
                        h3.fs-1.fw-bolder Практика
                        p.fs-5 Применяете полученные знания на практике. Вам доступны упражнения прямо в браузере с автоматизированной проверкой правильности выполнения заданий тестами и качества кода линтерами
                .col-sm-12.col-lg-6.pe-lg-0
                    img(src="images/practice.webp", alt="practice" class="img-fluid")

        .comtainer-fluid.pt-3
            .row.me-0.ms-0.mt-5.pb-5.justify-content-end.overflow-hidden
                .col-sm-12.col-lg-4 
                    .col 
                        h3.fs-1.fw-bolder Проекты
                .col-sm-12.col-lg-6.pe-lg-5
                    p.fs-5 На практических проектах студенты создают реальные приложения. Это уникальный опыт самостоятельного решения задач, который делает вас на голову выше других соискателей-джуниоров. В ходе рефакторинга кода с наставником вы увидите ошибки, научитесь лучшим практикам и способам оптимизации. На выходе вы получаете качественный код и рабочее приложение, которое станет частью вашего портфолио
                    p.fs-5 Выполняются на своем компьютере и лежат в открытом доступе на Github. Проверяются автоматизированно и наставником. Помогают пройти собеседования и выполнить тестовое задание
